[Unit]
Description=LogiNetwork

[Service]
ExecStart=/bin/python3 /opt/LogiNetwork/background.py
WorkingDirectory=/opt/LogiNetwork/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target